
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;


}
h1{
    margin-top: 50px ;
    font-family: 'Sacramento', cursive;
    font-size: 5.00rem;
    color:  #66bfbf ;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:   #66bfbf;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top:10px;
    
}
.middle-container{
padding-bottom: 20px;
} 
   
.bottom-container{
    background-color: #66BFBF;
    position: relative;
    padding:50px 0 20px ;
    
}

/* cloud */
.top-cloud{
    position: absolute;
    right: 150px;
    top: 50px;

} 

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;
}



.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:left;
    line-height: 2;
}

.image{
    width: 25%;
    float: left;
    margin-right: 30px  ;
}
.image1{
    width: 25%;
    float: right;
    margin-left: 30px;

}

.para1{
    clear:auto;
}
.para{
    clear: left;
}
hr {
    border-color: grey;
    border-style: dotted none none  ;
    border-width:5px;
    width:5%;
   
   }
.BUTTON_RPP {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #000000;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 .BUTTON_RPP:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .p{
     color: #EAF6F6;
 }
 a{
     color:   #db143f;
  
     margin: 10px 20px;
 }